<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
<div class="border-form-div">
  Edit List
  <div class="panel-body">
  <%= form_for(@list) do |f| %>

   <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>
 
  <div class="actions">
    <%= f.submit "Update"%>
  </div>
</div>
  <% end %>
   <div class="panel-footer">
    <%= link_to 'List Details', @list %> |
    <%= link_to 'Back', lists_path %>
  </div>
</div>
</div>