<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
<div class="panel panel-default">
<div class="panel-heading">
  Add a List
  </div>
  <div class="panel-body">
  <%= form_for(@table) do |f| %>

    <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>

   <div class="actions">
    <%= f.submit "Create List", class: "btn btn-primary"%>
    </div>
    <% end %>
  </div>
  <div class="panel-footer">
  <%= link_to "Back to Profile", url_for({ :controller => 'users', :action => 'show', :id => current_user.id }) %>
  </div>
</div>
</div>