<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <h4> Step 2 Add Items to your list </h4>
    <div class="list-group newlist" >
      
     <ul>
      <h3> <%= @list.title %> </h3>
       <div id="items">
      <% @items.each do |item| %>
      
   <li>  <%= item.name %> <img src = <%= item.poster %> > </li>

 
    
<% end %>
</div>


<br> 

<%if current_user.id == @list.user_id%>

<form class="form-horizontal" id="js-item-form">
    <div class="form-group">
          <br>
          <label for="search" class="col-sm-2 control-label"></label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="newitem" placeholder="movie">
        </div>
        <div class="form-group">
        <button type="submit"  id='js-add-item' class="btn btn-info" data-list= "<%=@list.id%>">Add item to list </button>
        </div>
    </div>
  </form>
  <%= link_to 'Edit List', edit_list_path(@list) %> |

<%= link_to 'Delete List', @list, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
 <%= link_to "Back to Profile", url_for({ :controller => 'users', :action => 'show', :id => current_user.id }) %>
<% else %>
<p>  </p>


<%end %>



