<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
<div class="list-group" >
  <a href="#" class="list-group-item active">
    <%= @list.title %>
  </a>
  <div id="items">
   <% @items.each do |item| %>
  <a href="#" class="list-group-item">  <%= item.name %> </a>
  <% end %>
  </div>
</div>

  <div class="col-md-2 col-md-offset-4">
    <%= link_to new_list_item_path(@list, @item, "js"), remote: true do %>
      <button class="btn btn-default">Add Item to list</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="item-form" style="display:none;"></div>
</div>





<%= link_to 'Edit List', edit_list_path(@list) %> |

<%= link_to 'Delete List', @list, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
 <%= link_to "Back to Profile", url_for({ :controller => 'users', :action => 'show', :id => current_user.id }) %>
<div id="lists">
</div>

