<!-- profile page -->
<div class="jumbotron center">
  <img src ="/ownedlist.png" width="200" height="50"> 
  <h3> <%= @user.name.capitalize %></h3>
  <div class="dividerr"> </div>
  <%= image_tag @user.avatar.url, class: "round-image-50"%>
  </div>

  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <% if current_user.id == @user.id %>
  <div class="box col2 lists">
 <h5> <%= link_to 'Create New List',new_list_path %> </h5>
 <%= link_to image_tag("/add.png"), new_list_path %>
  </div>
 <% else %> 
 <%end %> 
 

    <% @lists.each do |list| %>
      <div class="box col2 lists">
         <h4> <%= link_to list.title, list_path(list)%> </h4> 
         <% if list.items[0] != nil %> 
            <img src =<%=list.items.first.poster %>>
         <% end %> 
         

<% if current_user.id == @user.id %>
        <%= link_to 'Edit', edit_list_path(list) %>
        |
        <%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %>
   <% else %> 
  <%end %>  
        <br>
      </div>
    <% end %> 
  </div>


