<!-- profile page -->

<div class="jumbotron center">
<% if user_signed_in? %>
<img src ="/ownedlist.png" width="200" height="50"> 
<div class="dividerr"> </div>
<%= image_tag current_user.avatar.url, class: "round-image-50"%>
<% else %> 
<h2> Hello TasteBud </h2>
<% end %> 
</div>


<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
 
  <div class="box col2 lists">
 <h5> <%= link_to 'Create New List',new_list_path %> </h5>
 <%= link_to image_tag("/add.png"), new_list_path %>
  </div>

    <% @lists.each do |list| %>
      <div class="box col2 lists">
         <h4> <%= link_to list.title, list_path(list)%> </h4> 
           <img src =<%=list.items.first.poster %>>


        <%= link_to 'Edit', edit_list_path(list) %>
        |
        <%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
    </div>
 <% end %> 

</div>



