<div class="jumbotron center">
<% if user_signed_in? %>
<h2> Welcome <%= current_user.name %>! </h2>
<%  @updated_list_notifications.each do |notification| %>
<%= notification.id %>
<% else %>
<h2> Welcome New TasteBud! </h2>
<%end%> 
<h4> Let's get you started </h4>
<h4> Browse the lists below and find your tastebuds
</h4>
</div>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
 
  <div class="box col2 lists">
 <h4> <%= link_to 'Create New List',new_list_path %> </h4>
 <p> Create your first list to share! </p>
  </div>

    <% @lists.each do |list| %>
      <div class="box col2 lists">
         <h4> <%= link_to list.title, list_path(list)%> </h4> 

         <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a>
        <%= link_to 'Edit', edit_list_path(list) %>
        |
        <%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
    </div>
 <% end %> 

</div>
