<div class="jumbotron center">
<% if user_signed_in? %>
<img src ="/getstarted.png" width="360" height="110"> 

<h4> <br>Browse the lists below and find <strong> your </strong> tastebuds
</h4>
<% else %>
<h2> Welcome new tastebud! </h2>

<% end %>
</div>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
 
  <div class="box col2 lists">
 <h5> <%= link_to 'Create New List',new_list_path %> </h5>
 <p> Create your first list to share! </p>
 <%= link_to image_tag("/add.png"), new_list_path %>
  </div>

    <% @lists.each do |list| %>
     
      <div class="box col2 lists">

       
           <div class = "row">
      <div class ="col-sm-7"> <h5> <%= link_to list.title, list_path(list)%> </h5> </div>
      <div class ="col-sm-5">
      <%= image_tag User.find_by(id:list.user_id).avatar.url , class: "round-image-50"%> </div>
      </div>
          <img src =<%=list.items.first.poster %>>
     
        <br>
          <%= div_for list do %>
         <%= render partial: "follows/button", locals: {list: list}  %> 
         <% end %>
    </div>
 <% end %> 

</div>
