<div class="panel panel-default">
  <div class="panel-heading">
  Edit List
  </div>
  <div class="panel-body">
  <%= form_for(@table) do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary"%>
  </div>
</div>
  <% end %>
   <div class="panel-footer">
    <%= link_to 'List Details', @table %> |
    <%= link_to 'Back', tables_path %>
  </div>
</div>