<div class="jumbotron center">
 <% if @category.id==1%> 
   <h2> <img src = "/musicfeed.png" width="200" height="100"> </h2>  
<%elsif @category.id==2 %> 
<h2> <img src = "/moviesfeed.png" width="200" height="100"> </h2>
<%elsif @category.id==3 %> 
<h2> <img src = "/televisionfeed.png" width="300" height="100"> </h2>
<% else %> 
<p> </p>
<%end %>
</div>

  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
    

    <% @lists.each do |list| %>
     
      <div class="box col2 lists">

        <div class = "row">
      <div class ="col-sm-7"> <h5> <%= link_to list.title, list_path(list)%> </h5> </div>
      <div class ="col-sm-5">
       <%= link_to image_tag(User.find_by(id:list.user_id).avatar.url , class: "round-image-50"), controller: "users", action: "show", id:User.find_by(id:list.user_id).id %>  </div>
      </div>
      <% if list.items.first. != nil?%>
          <img src =<%=list.items.first.poster %>>
          <% else %> 
          <%= No photo to display %> 
          <% end %> 
         <br>
        <%= div_for list do %>
         <%= render partial: "follows/button", locals: {list: list}  %> 
         <% end %>
        <br>
    </div>
 <% end %> 
</div>
