<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <%= include_gon %>
  <body>
 <div class="container-narrow">
  <%= render 'welcome/header' %>

    <%= yield %>
</div>
  </body>
</html>
